@model List<TrainnePortal.Models.User.Registration>
@{
    Layout = null;
    }
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

  

<h1>Trainee Records</h1>
<style>
   body{background-color:whitesmoke;}
    table, th, td {
       
       padding:10px;
       background-color:white;
       border:solid whitesmoke 2px;
       align-content:center;
      
    }</style>
<form method="post">
<table>
  
        <tr>
            <th>EMPLOYEID</th>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>FATHERNAME</th>
            <th>DOB</th>   
            <th>COLLEGE</th>
            <th>PASSOUT</th>
            <th>ADDRESS</th>
            <th>MOBILE</th>
            <th>SELECT</th>

        </tr>
   

          
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            { 
                <tr>
                <td>
                    <img src="~/images/@item.pic" style="height:50px; width:50px; border-radius: 50%; border: 1px solid black;" asp-append-version=true />
                    <span class="btn btn-xs btn-primary btnEdit" id="edit_@item.EmployeId" onclick="createModal('@Url.Action("GetPop", "Home" , new {id=item.EmployeId})')">@item.EmployeId</span>
                        
                    </td>
                <td>@item.firstName </td>
                <td>@item.lastname</td>
                <td>@item.father_Name </td>
                <td>@item.birthDate </td>
                <td>@item.college </td>
                <td>@item.passOutYear </td>
                <td>@item.Address </td>
                
                <td>@item.mobile_number </td>
                     
               
                <td>
                    <label class="form-check-label" for="@Model[i].EmployeId" asp-validation-for="@Model[i].EmployeId"></label>
                    <input type="checkbox" asp-for="@Model[i].IsChecked" />
                    <input type="hidden" asp-for="@Model[i].EmployeId" />
                    <input type="hidden" asp-for="@Model[i].firstName"/>
                    <input type="hidden" asp-for="@Model[i].lastname"/>
                </td>  
               

            </tr>
                i++;
            }

</table>
 <button style="margin-left:40%;margin-top:15%;background-color:darkgreen">Submit</button>
        </form>



<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" id="modelContent">
            <script>
                function createModal(url) {
                    $('#modelContent').load(url);
                    $('#myModal').modal('show');
                }
            </script>
        </div>
    </div>
</div>

@section scripts{
  
}







