@model TrainnePortal.Models.User.Registration
<link rel="stylesheet"href="~/css/popup.css" />
  <h4 style="margin-left:20%">Details</h4>
    <img src="~/images/@Model.pic" height="80px" width="80px" style="margin-left:5%;border-radius:10%"/>
    <div  class="container">
    <div class="main"><b>NAME:</b> <span>@Model.firstName </span></div>
    <div class="main"><b>FATHERNAME</b> <span>@Model.father_Name</span></div>
<div class="main"><b>DOB:</b> <span>@Model.birthDate</span></div>
    <div class="main"><b>MOBILE</b> <span>@Model.mobile_number </span></div>
    <div class="main"><b>ADDRESS</b> <span>@Model.Address </span></div>
</div>
<div class="nextdiv">
    <div class="next"><b>COLLEGE</b> <span>@Model.college</span></div>
</div>


        

   


