@model List<TrainnePortal.Models.User.OverView>
@{
    Layout = "Admin_Layout1";
}
<link href="~/css/overview.css" rel="stylesheet" />

<h1>OverView</h1>

<table>
    <tbody>
        <tr>
        
            <th>EMPID</th>
            <th>NAME</th>
            <th>Course1</th>
            <th>Course2</th>
            <th>Course3</th>
             <th>Course4</th>
          
            </tr>
            @foreach(var item in Model)
            {
                <tr>
               
                <td>@item.EmpId</td>
                <td>@item.Name</td>
                <td>@item.Course1</td>
                <td>@item.Course2</td>
                <td>@item.Course3</td>
                <td>@item.Course4</td>
               

                </tr>
            
        }
        </tbody>
        </table>


