@model List<TrainnePortal.Models.User.BatchModel>


<h1>Batch Records</h1>
<style>
    body {
        background-color: honeydew;
    }

    th {
        padding: 20px;
        background-color: black;
        color: white;
        height: 15px;
        
    }

   .trid{
       border-radius:20%;
   }

    tr:nth-child(2n+1) {
        background-color: white;
    }

    tr:nth-child(2n) {
        background-color: whitesmoke;
    }

    table, td {
        border: 1px solid white;
        padding: 20px;
      
    }</style>
<table>

    <tr class="trid">
        <th>S.NO</th>
        <th>BatchId</th>
        <th>BatchName</th>
        <th>FullName</th>
        <th>EmpId</th>
    </tr>
    <form method="post" asp-action="SubBatch">
    @{
        int i = 0;
    }
    
    @foreach (var item in Model)
    {
        <tr class="trid">
            <td>@item.Id</td>
            <td>@item.batchId</td>
            <td>@item.batchName</td>
            <td>@item.firstName.@item.lastName</td>
            <td>@item.EmpId</td>
            <td>
            <td>
                <label class="form-check-label" for="@Model[i].batchName" asp-validation-for="@Model[i].batchName"></label>
                <input type="checkbox" asp-for="@Model[i].Istick" />
                <input type="hidden" asp-for="@Model[i].batchName" />
                 <input type="hidden" asp-for="@Model[i].firstName" />
                <input type="hidden" asp-for="@Model[i].lastName" />
                 <input type="hidden" asp-for="@Model[i].batchName" />
                <input type="hidden" asp-for="@Model[i].EmpId" />
                <input type="hidden" asp-for="@Model[i].batchId" />

           </td>



        </tr>
        i++;
          
    }
 
    <button>SUBMIT</button>
    </form>


</table>
