@model List<TrainnePortal.Models.User.BatchList>
@{
    Layout = null;
}

@{
    var sbbtc = ViewBag.subbbatch;
}

<link href="~/css/subbatchdrop.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<h1>BatchList</h1>

<form method="post" >
    <table>

        <tr>
            <th>S.NO</th>
            <th>MAIN-BATCH</th>
            <th>BATCHID</th>
            <th>VIEW-BATCH</th>
            <th>ADD</th>
            <th>SUBBATCH</th>
        </tr>
        @{
            int i = 0;
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.S_NO</td>
                <td>@item.Batchname</td>
                <td id="btcid">@item.BatchId</td>
                <div class="dropdown"></div>
                <td>
                    <a style="color:black" asp-action="ViewBatch" asp-route-id="@item.BatchId">  <i class="fa fa-eye"></i>Batch</a>
                </td>
                <td><a asp-action="CreateSubBatch" asp-route-id="@item.BatchId"> <i class="fa fa-plus-square"></i>Subbatch</a></td>

                <td>
                   <div class="dropdown">
                    <button id="btn" value="@item.BatchId" class="dropbtn"style="text-decoration:none"><i class="fa fa-eye"></i>SubBatch</button>
                <div  class="dropdown-content">@for(int j=0;j<sbbtc.Count;j++)
                            {
                               if(Model[i].BatchId==sbbtc[j].BacthId){
                                <a asp-action="ViewSubbatch" asp-route-id="@sbbtc[j].BatchName">@sbbtc[j].BatchName</a>
                               }
                            }

                </div>
                    


                </div>
                    

                </td>

            </tr>
            i++;
           
        }
    </table>
    
</form>



















