@model List<TrainnePortal.Models.User.SubBatch>


<h1>Batch Records</h1>
<style>
    body {
        background-color: honeydew;
    }

    th {
        padding: 20px;
        background-color: black;
        color: white;
        height: 15px;
    }

    tr:nth-child(2n+1) {
        background-color: white;
    }

    tr:nth-child(2n) {
        background-color: whitesmoke;
    }

    table, td {
        border: 1px solid white;
        padding: 20px;
       
    }</style>
<table>

    <tr>
        <th>EmpId</th>
        <th>BatchId</th>
        <th>BatchName</th>
        <th>FullName</th>
        <th>Course</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.BacthId</td>
            <td>@item.BatchName</td>
            <td>@item.FullName</td>
            <td>@item.Course </td>
            <td><a asp-action="Delete" asp-route-id="@item.BacthId">Delete</a></td>



        </tr>
    }

</table>