@model List<TrainnePortal.Models.User.BatchModel>

<h1>Batch Records</h1>
<style>
    body{
        background-color:honeydew;
    }
th{
        padding: 20px;
        background-color:black;
        color:white;
        height:15px;
       
       
      
}
tr:nth-child(2n+1){background-color:white;}
tr:nth-child(2n){
        background-color: whitesmoke;
}
.tblc{
    border:solid 1px white;
    border-radius:25%;
}
    table,td
    {
       
        padding:20px;
    
    }</style>
<table classs="tblc">
   
        <tr>
            <th>S.NO</th>
            <th>BatchId</th>
            <th>BatchName</th>
            <th>Course</th>
            <th>FullName</th>
            <th>EmpId</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.batchId</td>
                <td>@item.batchName</td>
                <td>@item.course </td>
            <td>@item.firstName.@item.lastName</td>
                <td>@item.EmpId</td>
                


            </tr>
            
        }
   
    
</table>
