
@model List<DemoApplication.Models.Context.Employe>

<h1>Employe Records</h1>
<style>table,th,td{border:1px solid black}</style>
<table>
   
        <tr>
            <th >employe id</th>
            <th >Name</th>
            <th>Addres</th>
            <th>Company</th>
            <th>Designation</th>
        </tr>
  
    <tbody style="border:dashed 1px">
        @foreach(var item in Model)
        {
            <tr>
                <td >@item.EmployeId</td>
                <td >@item.Name </td>
                <td>@item.Address</td>
                <td>@item.Company </td>
                <td>@item.Designation </td>
                </tr>
        }
        </tbody>
        </table>