@model DemoApplication.Models.Context.Employe

@{
       var emp = ViewBag.details;
} 

    @{
        if (@ViewBag.Error == null)
   {
<h1>Employe details</h1>
<br />
<br />
<h3>@emp.Name</h3>
<h3>@emp.Address</h3>
<h3>@emp.Company</h3>
<h3>@emp.Designation</h3>
 } 
    
   else
    {
        <div class="text-danger">
        <h3>Data is not found in My records With Given Id</h3>
        </div>
    }

    }