@model IEnumerable<TraineesManagementSystem.Models.TraineesWithBatches>

@{
    ViewData["Title"] = "EveryBatchDetails";
    Layout = "AdminLayout";

}
@{
    int id =(int) TempData["id"];
    string batchName = TempData["name"].ToString();
    int courseAssigned = (int)TempData["course"];
    TempData["MainBatchId"] = id;
}

<h1>EveryBatchDetails</h1>

<link rel="stylesheet" href="~/css/Details.css">

<a type="submit" asp-action="SubBatchesDetails"  >Sub Batches</a>

    <a type="submit" asp-controller="AdminView" asp-action="AllDetails1" asp-route-BatchId="@id" asp-route-BatchName="@batchName" asp-route-CourseAssigned="@courseAssigned">Add Traine</a>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeName)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.CourseAssigned)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeName)
            </td>
               <td>
                   @Html.DisplayFor(modelItem=>item.CourseAssigned)
               </td>
            <td>
                <a asp-action="DeleteTraineeFromBatch" asp-route-TraineeId="@item.TraineeId" asp-route-BatchId="@item.BatchId">Delete</a>
            </td>
            <td>
                    <a asp-action="TraineeDetails" asp-controller="AdminView" asp-route-TraineeId="@item.TraineeId">Details</a> |

            </td>
               

        </tr>
}
    </tbody>
</table>

