@model IEnumerable<TraineesManagementSystem.Models.SubBatchesDetails>

@{
    Layout = "AdminLayout";

    ViewData["Title"] = "SubBatchesDetails";
    int id= (int)TempData["mainBatchId"];
    string batchName=  TempData["mainBatchName"].ToString();
    int courseAssigned = (int)TempData["courseAssigned"]; 
}

<h1>SubBatchesDetails</h1>
<link rel="stylesheet" href="~/css/Details.css">

<p>
    <a type="submit" asp-controller="AdminView" asp-action="SubBatch" asp-route-MainBatchId="@id" asp-route-MainBatchName="@batchName" asp-route-CourseAssigned="@courseAssigned">Create Sub Batch</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MainBatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainBatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubBatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseAssigned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MainBatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainBatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubBatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseAssigned)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a  asp-route-SubBatchName="@item.SubBatchName" asp-action="TraineesInSubbatches" >Details</a> |
                <a asp-action="DelSubBatch" asp-route-subBatchName="@item.SubBatchName" asp-route-mainBatchId="@item.MainBatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
