@model IEnumerable<TraineesManagementSystem.Models.TraineesWithBatches>

@{
    Layout = "AdminLayout";

    ViewData["Title"] = "TraineesInMainBatch";
    string subBatchName=TempData["SubBatchName"].ToString() ;

}

<h1>TraineesInMainBatch</h1>
<link rel="stylesheet" href="~/css/Details.css">

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatchId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseAssigned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseAssigned)
            </td>
            <td>
                <a asp-action="AddTraineeToSubBatch" asp-route-BatchId="@item.BatchId" asp-route-BatchName="@item.BatchName" asp-route-TraineeId="@item.TraineeId" asp-route-TraineeName="@item.TraineeName" asp-route-CourseAssigned="@item.CourseAssigned" asp-route-SubBatchName="@subBatchName">Add Trainee</a> |
               
            </td>
        </tr>
}
    </tbody>
</table>
